In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics

In [3]:
notas = [7, 8, 6, 10]
soma = sum(notas)
media = soma/len(notas)
print(f'A média do aluno foi: {media}')

A média do aluno foi: 7.75

In [5]:
endividamento = [25, 51, 76, 41, 55, 13]
def calcula_media(vetor):
    return sum(vetor)/len(vetor)
print(f'A média do endividamento das empresas foi: {calcula_media(endividamento)}')

A média do endividamento das empresas foi: 43.5

In [7]:
vendas = [10, 17, 13, 30]
calcula_media(vendas)

17.5

In [6]:
notas = [718.91, 521.33, 627.9, 610.12, 930]
pesos =[5, 2, 2, 4, 5]

In [7]:
np.average(notas, weights=pesos)

np.float64(721.305)

In [8]:
conjunto_A = [10, 12, 11, 10, 87]
conjunto_B = [23, 31, 17, 18]

In [9]:
np.median(conjunto_A)

np.float64(11.0)

In [10]:
np.median(conjunto_B)

np.float64(20.5)

In [11]:
np.mean(conjunto_A)

np.float64(26.0)

In [12]:
B = [5, 8, 10, 12, 15]

In [13]:
np.var(B) #variancia

np.float64(11.6)

In [ ]:
#Desviopadraopopulacional - tira a raiz quadrada da variancia populacional
#Desvio Padrao amostral - tira  araiz quadrada da variancia amostral
#desvio medio absoluto - módulo do desvio de valor central

In [14]:
dados = {'A': [1, 22, 1, 90],
         'B': [40, 45, 47, 49],
         'C': [15, 22, 33, 4]}

In [15]:
df = pd.DataFrame(dados)

In [16]:
df

    A   B   C
0   1  40  15
1  22  45  22
2   1  47  33
3  90  49   4

In [17]:
df.max() #mosra o valor maximo da coluna

A    90
B    49
C    33
dtype: int64

In [18]:
df.max(axis=1) #mostra o valor maximo da linha

0    40
1    45
2    47
3    90
dtype: int64

In [19]:
df.min()

A     1
B    40
C     4
dtype: int64

In [20]:
df.sum() #soma dos valores da coluna

A    114
B    181
C     74
dtype: int64

In [21]:
df.mean() #calcula a media de cada coluna

A    28.50
B    45.25
C    18.50
dtype: float64

In [22]:
df.var() #calcula a variancia das colunas

A    1779.000000
B      14.916667
C     148.333333
dtype: float64

In [23]:
df.std() #calcula o desvio padrao

A    42.178193
B     3.862210
C    12.179217
dtype: float64